
<div *ngIf="player">
  <p>player name: {{ player.names.international }}</p>
  <p>Primary time: {{ firstRunData.times.primary }}</p>
  <img [src]= "gameData.assets.logo.uri" alt="">
  <p>Game name: {{ gameData.names.international }}</p>
  <button type="button" name="seeVideo" (click)="seeVideo()"> Video outside of page</button>
  <button type="button" name="seeVideo" (click)="goBack()"> Back </button>
</div>