
<ol *ngIf="data">
  <li *ngFor="let game of data.data">
      <div class="list-games-container">
        <a [routerLink]= "['/details', game.id]">
        <!-- [queryParams] = "{ games: game | json }" -->
          <div class='logo'>
            <div class='thumbnail-container' *ngIf="game.assets.logo">
                <img [src]="game.assets.logo.uri">
            </div>
          </div>
          <div class="listedgame-info">
            <p>{{game.name}}</p>
          </div>
        </a>
      </div>
    <span>{{ game.names.international }}</span>
  </li>
</ol>